
datastore/settings.json
*.pdf
archives/*
__pycache__/main.cpython-310.pyc
*.pyc
datastore/config.json
*.log
poetry.ipynb
datastore/responses.json
datastore/memories.json
datastore/data.json
datastore/conversations.json
